.main-Navigator {
  display: flex;
  justify-content: space-between;
  margin: 50px 400px;
  position: relative;
}

.admin-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-navigation > a {
  padding: 0;
}

@media (max-width: 1700px) {
  .main-Navigator {
    margin: 50px 200px;
  }
}

@media (max-width: 1400px) {
  .main-Navigator {
    margin: 50px 100px;
  }
}

/* @media (max-width: 1000px) {
  .main-Navigator {
    margin: 50px 100px;
  }
} */

@media (max-width: 768px) {
  .main-Navigator {
    margin: 50px 50px;
  }
}

@media (max-width: 540px) {
  .main-Navigator {
    margin: 50px 20px;
  }
}
