.main-Navigator {
  display: flex;
  justify-content: space-between;
  margin: 50px 400px;
  position: relative;
}

.navigator-admin{
  display: flex;
  gap: 20px;
}

@media (max-width: 1700px) {
  .main-Navigator {
    margin: 50px 200px;
  }
}

@media (max-width: 1400px) {
  .main-Navigator{
    margin: 50px 100px;
  }
}

/* @media (max-width: 1000px) {
  .main-Navigator {
    margin: 50px 100px;
  }
} */

@media (max-width: 768px) {
  .main-Navigator {
    margin: 50px 50px;
  }
}

@media (max-width:540px) {
  .main-Navigator {
    margin: 50px 20px;
  }
}
