.admin-home {
  margin: 0 400px;
}

@media (max-4idth: 1700px) {
  .admin-home {
    margin: 50px 200px;
  }
}

@media (max-width: 1400px) {
  .admin-home {
    margin: 50px 100px;
  }
}

@media (max-width: 768px) {
  .admin-home {
    margin: 50px 50px;
  }
}

@media (max-width: 540px) {
  .admin-home {
    margin: 50px 20px;
  }
}
