.Add-album {
  margin: 0 400px;
}

@media (max-width: 1700px) {
  .Add-album {
    margin: 50px 200px;
  }
}

@media (max-width: 1400px) {
  .Add-album {
    margin: 50px 100px;
  }
}

@media (max-width: 768px) {
  .Add-album {
    margin: 50px 50px;
  }
}

@media (max-width: 540px) {
  .Add-album {
    margin: 50px 20px;
  }
}