.home-page {
  margin: 0 400px 400px 400px;
}

.welcome {
  display: flex;

}

.welcome > h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}


.categories > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.albums{
  margin: 20px 0;
}

.albums > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.Recommendations{
  margin: 20px 0;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1700px) {
  .home-page {
    margin: 50px 200px;
  }
}

@media (max-width: 1400px) {
  .home-page {
    margin: 50px 100px;
  }
}

@media (max-width: 768px) {
  .home-page {
    margin: 50px 50px;
  }
}

@media (max-width: 540px) {
  .home-page {
    margin: 50px 20px;
  }
}
