:root {
    --margin-zero: 0;
    --main-margin: 400px;
    --secondary-margin: 200px;
    --third-margin: 100px;
    --fourth-margin: 50px;
    --fifth-margin: 20px;
    /* --second-screen-size: 1700px;
    --third-screen-size: 1400px;
    --fourth-screen-size: 768px;
    --fifth-screen-size: 540px; */
  }
  